<body>
 <h1>自動返信リスト</h1>
  <% @replies.each do |reply| %>
  [<%= reply.name %>]<br>
  キーワード：「<%= reply.keyward %>」<br>
  件名：「<%= reply.subject %>」<br>
  本文：「<%= reply.text %>」<br>
  <%= link_to"削除", "/destroy/#{reply.id}" %><br>
  <p>------------------------------</p>
  <% end %>
  <%= link_to"メニュー", menu_path %>
</body>